body {
    background-color: #f0f0f0;
    font-family: 'Lato', Helvetica, sans-serif;
}

.avatar img {
    width: 25rem;
}

@media only screen and (max-width: 768px) {
    .avatar img {
        width: 18rem;
    }
}

.skill-badge {
    font-size: 1.5rem;
    padding: 1rem;
}

.card-title {
    margin: 1rem 0 1.5rem 0;
}

.updates-link,
.updates-link:hover {
    text-decoration: none;
    color: #000;
}

.card {
    -webkit-box-shadow: 9px 14px 18px -8px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 9px 14px 18px -8px rgba(0, 0, 0, 0.50);
    box-shadow: 9px 14px 18px -8px rgba(0, 0, 0, 0.50);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.updates.card-img-top {
    height: 200px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES TIMELINE
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #7c00ff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 30px 0;
    -webkit-box-shadow: 9px 14px 18px -8px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 9px 14px 18px -8px rgba(0, 0, 0, 0.50);
    box-shadow: 9px 14px 18px -8px rgba(0, 0, 0, 0.50);
    border-radius: 10px 10px 10px 10px;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 1rem solid transparent;
    border-right: 1rem solid #fff;
    border-bottom: 1rem solid transparent;
    display: block;
    position: absolute;
    left: 3.5rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #7c00ff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 8px;
    width: 20px;
    height: 20px;
    z-index: 400;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item .timeline-title {
    margin: 3.0rem 0;
}

.timeline-item .timeline-title .company-logo {
    width: 30%;
}

.timeline-item .timeline-company {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.timeline-item .timeline-dates {
    display: block;
    font-size: 1.3rem;
}

/* About Connect */
#about-connect .connect-icon {
    padding-right: 1rem;
    text-decoration: none;
    color: #212121;
}

/* Button */
.home-about-cta{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.6rem;
}